@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@Model.Title</title>
    <meta name="keywords" content="Telerik Academy Showcase System" />
    <meta name="Author" content="Telerik Academy" />

    <meta name="title" content="@Model.Title" />
    <meta name="description" content="@Model.Description" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@Model.Description" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Telerik Academy Showcase System" />
    <meta property="og:image:url" content="http://@Model.HostUrl/Images/@(Model.MainImageUrl)_high.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
</head>
<body>
</body>
</html>
